<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Incripción de Alumno</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nuevaInscripcion()">
        NUEVO
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <ion-item *ngFor="let inscripcion of listaInscripcion">
      <ion-label>{{inscripcion.ci}} - {{inscripcion.nombre}}</ion-label>
      <!-- Botón de editar a la derecha con fondo amarillo -->
      <ion-button slot="end" fill="clear" [routerLink]="'/inscripcion-edit/' + inscripcion.id" style="background-color: yellow;">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <!-- Botón de eliminar -->
      <ion-button slot="end" fill="clear" (click)="confirmarEliminar(inscripcion.id)" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>