<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/profesor-list"></ion-back-button>
    </ion-buttons>

    <ion-title>{{isNew ? 'Nuevo' : 'Editar'}} Profesor</ion-title>

    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="guardarProfesor()" color="primary">
        Guardar
      </ion-button>
      <ion-button *ngIf="!isNew" fill="solid" (click)="eliminarProfesor()" color="danger">
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item style="display: none;">
      <ion-label>ID#</ion-label>
      <ion-input [(ngModel)]="id" readonly="true" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Código:</ion-label>
      <ion-input [(ngModel)]="profesor.codigo" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input [(ngModel)]="profesor.nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-input [(ngModel)]="profesor.apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Nacimiento:</ion-label>
      <ion-input type="date"
        [(ngModel)]="profesor.fecha">
      </ion-input>
    </ion-item>

  <ion-item class="avatar-container">
    <img [src]="avatar" alt="Avatar" class="avatar-image">
  </ion-item>

  <ion-item lines="none" class="avatar-upload">
    <ion-label for="fileUpload">Perfil:</ion-label>
    <input type="file" (change)="onFileSelected($event)" #fileInput hidden>
    <div class="button-container">
      <ion-button color="primary" (click)="triggerFileInput()">Subir</ion-button>
      <ion-button color="danger" (click)="eliminarAvatar()">Eliminar Avatar</ion-button>
    </div>
  </ion-item>

  </ion-list>
</ion-content>

